<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>texBtnMoreGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{365,174},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnRank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{686,174},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnSettings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{792,174},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnShare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{472,174},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnStartGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,108}</string>
                <key>spriteSourceSize</key>
                <string>{372,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{372,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnTip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{579,174},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texCarL1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,198},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texCarL2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,84}</string>
                <key>spriteSourceSize</key>
                <string>{180,84}</string>
                <key>textureRect</key>
                <string>{{375,88},{180,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texCarL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,85}</string>
                <key>spriteSourceSize</key>
                <string>{280,85}</string>
                <key>textureRect</key>
                <string>{{1,111},{280,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texCarR1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{283,111},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texCarR2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,84}</string>
                <key>spriteSourceSize</key>
                <string>{180,84}</string>
                <key>textureRect</key>
                <string>{{557,88},{180,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texCarR3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,85}</string>
                <key>spriteSourceSize</key>
                <string>{280,85}</string>
                <key>textureRect</key>
                <string>{{375,1},{280,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texCarU1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{283,193},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texCarU2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,180}</string>
                <key>spriteSourceSize</key>
                <string>{84,180}</string>
                <key>textureRect</key>
                <string>{{739,88},{84,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>texCarU3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,280}</string>
                <key>spriteSourceSize</key>
                <string>{85,280}</string>
                <key>textureRect</key>
                <string>{{657,1},{85,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>texSquare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{83,198},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texSquareR20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{149,198},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texSquareR25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{215,198},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIAtlas.png</string>
            <key>size</key>
            <string>{938,280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f166d89b79a42960dfbf5b43f9640c5:e49f2a85e5621b8c8ec48f6b407cbc40:7280a3afaef54655d3dd21d500305ef3$</string>
            <key>textureFileName</key>
            <string>UIAtlas.png</string>
        </dict>
    </dict>
</plist>
